@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
.app{
  background-color: #111111;
  max-width: 100vw;
  overflow: hidden;
}

.MainPage{
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: row;
  color: wheat;
  background:url("bg1.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position:center;
}

#home{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: justify;
  text-align: center;
  font-size: 20px;
}

.home{
  max-width: 100%;
}

#home h1{
  max-width: 100%;
  margin-top: 100px;
}

#about{
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  flex-direction: column;
  padding: 20px;
}
.points{
  width: 90%;
}

#register{
  /* background: url("TAN_0346.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position:center; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#register button{
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  background-color: #3C2A21;
}
#register button:hover{
  opacity: 0.5;
  color: navy;
  cursor: pointer;
}

.neonText {
  animation: flicker 1.5s infinite alternate;
  color: rgb(136, 133, 130);
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #2962ff,
      0 0 11px #2962ff,
      0 0 19px #2962ff,
      0 0 40px #318ca5,
      0 0 80px #318ca5,
      0 0 90px #318ca5,
      0 0 100px #318ca5,
      0 0 150px #318ca5;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
} 

.cursor{
  width: 150px;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

.text-shadow {
  font-size: 2.5em;
	font-style: italic;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px #2962ff;
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	animation: flicker-shadow 0.5s ease-in-out infinite alternate;

	&:hover {
		color: #fff;
	}
}

.tags small {
	@media (max-width: 768px) {
		font-size: 0.5em;
	}
}

@keyframes flicker-shadow {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px #2962ff;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px #2962ff;
	}
}


.typing-demo {
  width: 18ch;
  animation: typing 6s steps(18), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  animation-iteration-count: infinite; 
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
@media screen and (max-width: 600px) {
  .typing-demo {
    font-size: 1em;
  }
}