.MainPage{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  flex-direction: column;
  padding: 20px;
}
h1{
  font-size: 45px;
}
#home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
}

#home img{
  max-width: 20vw;
  height: auto;
}